@import "tailwindcss";
@import "./design-tokens.css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--wf-bg--main);
  color: var(--wf-text--main);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
